
.metodo-envio div.shipping{
display: flex;
justify-content: center;
min-width: 320px;
max-width: 1124px;
background-color:var(--Gris-Fondo);

}
.metodo-envio .ocultar{
    display: none;
}
.metodo-envio .box-codigo{
    display: none;
}
.metodo-envio main.envio{
    display: flex;
    justify-content: center;
    background-color:var(--Gris-Fondo);
    padding: 10px;
    margin: 0 auto;  
}

.metodo-envio h3{
    display: flex;
    font-size: 25px;
    margin:20px 0px;
    justify-content: center;
}

.metodo-envio div.icono i.fas.fa-shipping-fast{
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 5em;
    margin:60px auto;
    border-radius: 15%;
    position: relative;
    border: solid 10px;
    color: var(--Fucsia);   
}

.metodo-envio div.palabra-envios{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin:20px 0px;
}
 
.metodo-envio label{
    display: flex;
    justify-content: center;
    margin:20px 0px;
}


.metodo-envio p{
    font-size: 15px;
    margin:30px auto;
    text-align: center;
    justify-content: center;
    width: 80%;
}

.metodo-envio div.box-Envios{
    min-width: 320px;
    max-width: 1124px;
}



.metodo-envio .envio .box-form select{
    justify-content: center;
    border-radius: 5px;
    padding: 8px;
    width: 180px;
    margin: 10px ;
    background-color: white;
    border: 1px solid var(--Gris);
 }

.metodo-envio input#text{
    justify-content: center;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    background-color: white;
    border: 1px solid var(--Gris);
    margin: 10px;    
 } 

.metodo-envio div.contactanos {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 30px auto 20px;
    
 }

 .metodo-envio .text1{
     text-align: center;
     margin: 20px auto;
     background-color: whitesmoke;
     border-radius: 5px;
     border: grey 1px solid;
     padding: 15px;
     width: 70%;
 }

 .metodo-envio .box-detalle{
    text-align: center;
    border-radius: 5px 5px 0 0;
     border: none;
     border-bottom: solid 2px thistle;
     background-color: thistle;
     margin: 0 auto;
     display: flex;
     justify-content: center;
 }

 .metodo-envio .box-form{
    display: flex;
    margin: -2px auto -2px;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    border: none;
    border-top: solid 2px thistle;
     background-color: thistle;

 }

.metodo-envio .listado-precio{
    background-color: thistle;
    border-radius: 0 0 5px 5px;
padding: 10px
}
  

 @media (min-width: 425px){

.metodo-envio div.icono i.fas.fa-shipping-fast{
    margin:50px auto;
    width: 92%;
    }

    .metodo-envio div.palabra-envios{
       margin:30px 0px;
    }
     
    .metodo-envio label{
        margin:30px 0px 45px 0px;
    }

    .metodo-envio p{
        font-size: 18px;
        margin:30px 0px;
        justify-content: center;
    }

    .metodo-envio div.box-Envios section ul li {
        text-align: center;
        
        
        
        
        
    }}

    @media (min-width: 768px){
    }