
.metodo-envio div.shipping{
display: flex;
justify-content: center;
margin: 12px;
max-width: 1124px;
background-color: var(--Gris-Fondo);

}

.metodo-envio main.envio{
    display: flex;
    justify-content: center;
    background-color: var(--Gris-Fondo);
    padding: 10px;
   
}

.metodo-envio h3{
    display: flex;
    font-size: 25px;
    margin:20px 0px;
    justify-content: center;
}

.metodo-envio div.icono i.fas.fa-shipping-fast{
   
    display: flex;
    justify-content: center;
    font-size: 5em;
    margin:60px 0px;
    border-radius: 15%;
    position: relative;
    border: solid 10px;
    color: var(--Fucsia);
         
}

.metodo-envio div.palabra-envios{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin:20px 0px;
}
 
.metodo-envio label{
    display: flex;
    justify-content: center;
    margin:20px 0px;
}


.metodo-envio p{

    
    font-size: 15px;
    margin:30px 0px;
    justify-content: center;

}


.metodo-envio div.box-Envios section ul li{
   
   display: flex;
   flex-wrap: wrap;
   
   font-size: 11px;
        

}
.metodo-envio div.box-detalle.envios p{

   text-align: center;
}
.metodo-envio div.box-form{
    display: flex;
    justify-content: center;
}

.metodo-envio .envio .box-form select{
     
    justify-content: center;
    border-radius: 5px;
    padding: 8px;
    width: 180px;
    margin: 10px 20px;
    background-color: white;
    border: 1px solid var(--Gris);
 }

.metodo-envio input#text{
      
    justify-content: center;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    background-color: white;
    border: 1px solid var(--Gris);
    margin: 10px 20px;
    
 } 

.metodo-envio div.contactanos {
    
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 2px auto;


 }
  

 @media (min-width: 425px){

.metodo-envio div.icono i.fas.fa-shipping-fast{
   
        margin:50px 0px;


    }

    .metodo-envio div.palabra-envios{
        
        margin:30px 0px;
    }
     
    .metodo-envio label{
        
        margin:30px 0px 45px 0px;
    }

    .metodo-envio p{

        font-size: 18px;
        margin:40px 0px;
        justify-content: center;
    
    }

    .metodo-envio div.box-Envios section ul li {
        display: flex;
        justify-content: center;
        padding:15px;
        flex-direction:row
        
        
    }}

    @media (min-width: 768px){
    }