/** MOVIL **/

.home{
    background-color: #ebebeb;
}
/*body{
    background-color: lightgrey;
    font-family: sans-serif;
  }*/
  


.home main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1124px;
    padding: auto;
    margin: 0 auto;
}

.home main section.seccion-main article.card-carrousel{
    background-color: white;
    padding: 20px 0;
    margin: 20px;
    border-radius: 6px;
    border: none;
}

.home main .container{
    display: none;
}

.home main div.next-carousel{
    display: none;
}

.home main div.next-carousel a.circle{
    color: var(--Gris);
}

.home main div.next-carousel a.circle:hover{
    opacity: 60%;
}

.home main section.seccion-main{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}


.home main section.seccion-main h2{
    color: var(--Azul);
    font-family: var(--Roboto-letra-main);
    font-size: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 65px 0 20px;
}

.home .caja-completa{
    width: 100%;
}

.home .caja-completa .card-carrousel{
    text-align: center;
}

.home .caja-completa .card-carrousel img{
    width: 40%;
}

.home .caja-completa .card-carrousel span{
    color: var(--Fucsia);
}

.home main div a button{
    color: var(--Negro);
    background-color: var(--Celeste);
    border-radius: 15px;
    display: block;
    padding: 8px 20px;
    border: none;
    margin: 30px 0px 20px;
    width: 100%;
    text-align:center;
    font-size: 18px;
    cursor: pointer;
}

.home main div a button:hover{
    background-color: var(--Gris);
}


/** TABLET **/
@media (min-width:425px){
   
    .home main .container{
       /* width: 100%;
        background-color: var(--Negro);
        display: flex;
        justify-content: center;*/
        display: none;
    }

    /*.home main div.banner-home img{
        display: block;
        width: 50%;
    }*/
        
    
}




/** DESKTOP **/
@media (min-width:768px){
    .home main .container{
         
        display: block;
    }
   
    .home main .container{
    margin: 0 auto;
    width: 100%;
    padding: 5px;
      }
      
      .home main ul, li {
          padding: 0;
          margin: 0;
          list-style: none;
      }
      
     .home main ul.slider {
        position: relative;
        width: 100%;
        height: 400px;
         
      }
      
      .home main  ul.slider li {
          position: absolute;
          left: 0px;
          top: 0px;
          opacity: 0;
          width: inherit;
          height: inherit;
          transition: opacity .5s;
         
      }
      
      /*.home main ul.slider li img{
        width: 100%;
        height: 400px;
       
      }
      
     .home main ul.slider li:first-child {
          opacity: 1; /*Mostramos el primer <li>
      }
      
      .home main ul.slider li:target {
          opacity: 1; /*Mostramos el <li> del enlace que pulsemos
      }
      
     .home main .menu{
        text-align: center;
        margin: 2px;
    }
      
      .home main .menu li{
        display: inline-block;
        text-align: center;
      }
      
       .home main .menu li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: grey;
        padding: 4px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        border-radius: 100%;
      }
    @keyframes cambio {
        0% {margin-left:0;}
        20% {margin-left:0;}

        25%{margin-left:-100%;}
        50%{margin-left:-200%;}

        25%{margin-left:-200%;}
        100%{margin-left:-200%;}

       
        
    }*/
    .home main .slider{
        width: 95%;
        margin:auto;
        overflow: hidden;
    }
    .home .slider ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite alternate linear;
    }
    .home .slider li{
        width: 100%;
        list-style: none;
    }
    .home .slider img{
        width: 100%;
    }
    @keyframes cambio {
        0% {margin-left:0;}
        20%{margin-left: 0;}

        25%{margin-left:-100%;}
        45%{margin-left:-100%;}

        50%{margin-left:-200%;}
        70%{margin-left: -200%;}

        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }
}
