
.login{

    background-color: #ebebeb;
    
}

.login main{
    width:95%;
    max-width: 700px;
    margin: auto;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.login form div.box-inicia h3{
    color: var(--Azul);
    text-align: center;
    margin: 20px 0;
    
}


.login form div.box-cuenta h3{
        color: var(--Azul);
        text-align: center;
        display:none;

}
.login form div.box-techcel h3{
    color: var(--Azul);
    text-align: center;
    display: none;
    font-family: var(--Orbitron-letra-header);
}


.login form div.box-form input#Email{
    width: 236px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px;
    margin:0 auto;
    border-radius: 10px;
  }

.login form div.box-form input#password{
    width: 236px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px;
    border-radius: 10px;
      
}

.login main form div.recordarId label{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding: 1%;
}

.login main form div.recordarId label input{
    margin-top: 2.7px;
    margin-right: 5px;
}


.login form div.box-form{
    text-align: center;

}
    


.login form div.inicio-sesion{
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    
}

.login form div.inicio-sesion button{
    
    justify-content: center;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    background-color:var(--Celeste);
    margin: 10px 20px;
    border:none;
}
  
.login form div.inicio-sesion button:hover{
    background-color: var(--Gris);
    
   
}

@media (min-width :425px){

.login form div.box-cuenta h3{
   
     display: block

        
}
.login form div.box-techcel h3{
   display: block;
   margin-bottom: 20px;
}


.login form div.box-inicia h3{
    display: none;
}

.login form div.box-form input#Email,
.login form div.box-form input#password{
    width: 350px;
      
}


}

@media (min-width :768px){
.login form div.box-form input#Email,
.login form div.box-form input#password{
    width: 420px;
}

}
