
.login{

    background-color: #ebebeb;
    
}

.login main{
    width:95%;
    max-width: 700px;
    margin: 0 auto;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.login form div.box-inicia h3{
    color: var(--Azul);
    text-align: center;
    margin: 20px 0;
    
}


.login form div.box-cuenta h3{
        color: var(--Azul);
        text-align: center;
        display:none;

}
.login form div.box-techcel h3{
    color: var(--Azul);
    text-align: center;
    display: none;
    font-family: var(--Orbitron-letra-header);
}


.login form div.box-form  .email{
    width: 236px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px;
    margin:0 auto;
    border-radius: 10px;
  }

.login form div.box-form  .password{
    width: 236px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 10px;
      
}

.login main form div.recordarId label{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding: 1%;
}

.login main form div.recordarId label input{
    margin-top: 2.7px;
    margin-right: 5px;
}


.login form div.box-form{
    text-align: center;

}
.login form div.inicio-sesion{
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    
}

.login form div.inicio-sesion button{
    
    justify-content: center;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    background-color:var(--Celeste);
    margin: 10px 20px;
    border:none;
    cursor: pointer;
}
  
.login form div.inicio-sesion button:hover{
    background-color: var(--Gris);
    
   
}
.login main form div.mensaje{
    color: red;
  text-align: center;
   margin: 15px;
}

.login .container-input{
    display: flex;
    flex-direction: column;
}

.login .container-input span{
    text-align: left;
    margin-left: 5px;
    color: red;
    padding: 5px;
}

.login .container-icon{
    position: absolute;
}
   

.login .input-error{
    border-color: red;
}

.login .input-success{
    border-color: green;
}

.login .error {
    position: relative;
    right: -102px;
    bottom: 57px;
    color: red;
    font-size: 1.2rem;
}

.login .error2 {
    position: relative;
    right: -102px;
    bottom: 38px;
    color: red;
    font-size: 1.2rem;
}

.login .success{
    position: relative;
    right: -102px;
    bottom: 38px;
    color: green;
    font-size: 1.2rem;
}

.login .ocultar{
    display: none;
}

@media (min-width :425px){

.login form div.box-cuenta h3{
   
     display: block

        
}
.login form div.box-techcel h3{
   display: block;
   margin-bottom: 20px;
}


.login form div.box-inicia h3{
    display: none;
}

.login form div.box-form  .email,
.login form div.box-form  .password{
    width: 350px;
      
}

.login .error, .login .error2 {
    right: -152px;
}

.login .success{
    right: -152px;
}

}

@media (min-width :768px){
.login form div.box-form  .email,
.login form div.box-form  .password{
    width: 420px;
}

.login .error, .login .error2{
    right: -190px;
}

.login .success{
    right: -190px;


}
}
