
.productAdd main{
    max-width: 1124px;
    margin: 0 auto;
}

.productAdd .admin-container .container form .centrar{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.productAdd form p{
    text-align: center;
    color: red;
}
.productAdd .admin-container .centrar-titulos{
    text-align: center;
}

.productAdd .admin-container .boton-enviar{
    margin: 0 auto;
    width: 150px;
    border-style: none;
}

.productAdd main .subir-img label{
    margin-bottom: 10px;
}

.productAdd main .subir-img{
    align-items: center;
    margin: 5px;
}

.productAdd main .imagenes{
    width: 100%;
}

.productAdd main .bloque{
    padding: 10px 5px;
    margin: 25px auto;
}

.productAdd main .agregar-producto{
    align-items: center;
    margin: 20px auto;
}

.productAdd main .agregar-producto button{
    color: var(--Negro);
    background-color: var(--Celeste);
    border-radius: 7px;
    padding: 8px;
    border: none;
    font-size: 16px;
    width: 160px;
    cursor: pointer;
}

.productAdd main .agregar-producto button:hover{
    background-color: var(--Gris);
}

.productAdd main input{
    min-width: 200px;
 }

 
 .productAdd main .checkbox-flex{
     display: flex;
     justify-content: center;
 }
.productAdd main .inputs{
    width: 5px;
}
.productAdd main .divs-input{
    width: 204px;
}
.productAdd main .mini-imagen{
    width: 20px;
    height: 20px;
}
 .productAdd span{
    color: red;
    text-align: center;
 }

 @media (min-width: 425px){
    .productAdd main .imagenes{
        width: 80%;
    }
 }

 @media (min-width: 768px){
    .productAdd main .imagenes{
        width: 60%;
    }
 }