
.productAdd .admin-container .container form .centrar{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.productAdd .admin-container .centrar-titulos{
    text-align: center;
}

.productAdd .admin-container .boton-enviar{
    margin: 0 auto;
    width: 150px;
    border-style: none;
}