.profile{
    background-color: var(--Gris-Fondo);
}

.profile main{
    max-width: 1124px;
    font-family: var(--Roboto-letra-main);
    padding: 25px;
    margin: 0 auto;
}

.profile div.img{
    margin: 10px auto;
    width: 260px;
    height: 260px;
    
}

.profile div.img img{
    width:100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    background-color: white;
}

.profile h2{
    text-align: center;
    padding-top: 10px;
    color: var(--Azul);
    font-size: 24px;
}
.profile .form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px ;
}
.profile label{
    color: var(--Azul);
    font-size: 18px;
    cursor: pointer;
}
.profile main div.form form input{
    padding: 5px 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 236px;
}

.profile span{
    color: red;
    font-size: 14px;
}

.profile .buttons{
    padding: 8px;
    text-align: center;
    background-color:var(--Celeste);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 30px 10px 0;
}
.profile button:hover{
    background-color: var(--Gris);
}

.profile main .form .check input.change{
    display: none;
}

.profile main .newPass{
    display: none;
}
.profile main .form .check input.change:checked ~ label {
    color: red;
}

.profile main .form .check input.change:checked ~ .newPass {
    display: block;
}

.profile main div.form form div.avatar{
    margin: 25px auto;
    max-width: 325px;
}

.profile .container-input{
    display: flex;
    flex-direction: column;
}

.profile .container-input span{
    text-align: center;
    color: red;
}

.profile .container-icon{
    position: absolute;
}
   

.profile .input-error{
    border-color: red;
}

.profile .input-success{
    border-color: green;
}

.profile .error {
    position: relative;
    right: -100px;
    bottom: 52px;
    color: red;
    font-size: 1.2rem;
}

.profile .success{
    position: relative;
    right: -100px;
    bottom: 35px;
    color: green;
    font-size: 1.2rem;
}

.profile .errorPass{
    position: relative;
    right: -100px;
    bottom: 69px;
    color: red;
    font-size: 1.2rem;
}

.profile .errorPassUno{
    position: relative;
    right: -100px;
    bottom: 69px;
    color: red;
    font-size: 1.2rem;
}

.profile .ocultar{
    display: none;
}

.profile .check-success{
    color: green;
}

.profile .check-error{
    color: red;
}


@media (min-width :370px){

    .profile .errorPassUno{
        bottom: 52px;
    }

}



@media (min-width :404px){

    .profile .errorPass{
        bottom: 52px;
    }

}



@media (min-width :425px){
    .profile main div.form form input{
        width: 350px;
    }
    
    .profile h2{
        font-size: 28px;
    }
    .profile .error {
        right: -155px;
    }

    .profile .success {
        right: -155px;
    }
    
    }
    

    @media (min-width :768px){
        .profile main div.form form input{
            width: 420px;
        }
        .profile .error {
            right: -186px;
        }
        .profile .success {
            right: -186px;
        }

        }