.results h2 {
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.results .mensaje {
    text-align: center;
}
.results .mensaje img{
    width: 60%;
}
@media (min-width :425px){
    .results h2 {
        font-size: 1.2rem;
    }
}
@media (min-width :768px){
    .results h2 {
        font-size: 1.4rem;
    }
    .results .mensaje img{
        width: 40%;
    }
}