<header>
    <div class="listas">
        <div class="lista1">
            <nav>
                <ul class="contactanos">
                    <li><a href="/contactanos"><i class="far fa-envelope"></i>Contactanos</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <nav>
                <ul class="lista2">
                    <li><a href="/users/login"><i class="far fa-user"></i>Ingresar</a></li>
                    <li><a class="border" href="/users/register">Crear Cuenta</i></a></li>
                    <li><a href="/carrito"><i class="fas fa-shopping-cart"></i>Carrito de compras</a></li>
                    <li><a href="/envios"><i class="far fa-paper-plane"></i>Envios</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="contenedor">
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class="logo">
            <a href="/"><img src="/images/logo-techcel-blanco.png" alt=""></a>
        </div>

        <div class="buscador">
            <input type="text" class="searc-button" placeholder="Buscar" href=""><i class="fas fa-search"></i>
        </div>
        <div class="iconos">
            <div>
                <a href="/"><i class="fas fa-search"></i></a>
            </div>
            <div>
                <a href="/login"><i class="far fa-user"></i></a>
            </div>
            <div>
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
    <div>
        <nav class="titulo">

            <ul class="lista3">
                <li> <a href="/"></i>Home </a></li>
                <li><a href="/comocomprar">¿Como comprar? </i></a></li>
                <li><a href="/productos"></i>Productos</i></a></li>
                <li><a href="/about"></i>Acerca de nosotros </a></li>
            </ul>
        </nav>
    </div>

</header>