<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a36f27fccb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Envios</title>
</head>

<body class="metodo-envio">

    <header>
        <div class="listas">
            <div class="lista1">
                <nav>
                    <ul class="contactanos">
                        <li><a href="/contactanos"><i class="far fa-envelope"></i>Contactanos</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <nav>
                    <ul class="lista2">
                        <li><a href="/login"><i class="far fa-user"></i>Ingresar</a></li>
                        <li><a class="border" href="/register">Crear Cuenta</i></a></li>
                        <li><a href="/carrito"><i class="fas fa-shopping-cart"></i>Carrito de compras</a></li>
                        <li><a href="/envios"><i class="far fa-paper-plane"></i>Envios</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="contenedor">
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>

            <div class="logo">
                <a href="/"><img src="/images/logo-techcel-blanco.png" alt=""></a>
            </div>

            <div class="buscador">
                <input type="text" class="searc-button" placeholder="Buscar" href=""><i class="fas fa-search"></i>
            </div>
            <div class="iconos">
                <div>
                    <a href="/"><i class="fas fa-search"></i></a>
                </div>
                <div>
                    <a href="/login"><i class="far fa-user"></i></a>
                </div>
                <div>
                    <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
        <div>
            <nav class="titulo">

                <ul class="lista3">
                    <li> <a href="/"></i>Home </a></li>
                    <li><a href="/comocomprar">¿Como comprar? </i></a></li>
                    <li><a href="/productos"></i>Productos</i></a></li>
                    <li><a href="/about"></i>Acerca de nosotros </a></li>
                </ul>
            </nav>
        </div>

    </header>
     
    <main class="envio">
        <div class = shipping>
                <a href="#" class="button">
               <div class="box-Envios"> 
               
                     <div class="box-metodo">
               
                       <h3>METODOS DE ENTREGA</h3>
           
                       <div class="icono">
                           <i class="fas fa-shipping-fast"></i>
           
                       </div>
           
                        <p>Tenemos distintas opciones de envío a  todo el pais, para que compres y recibas tu celular de la forma más conveniente para vos.
                        Al momento de finalizar tu pedido podrás consultar el costo de envio según tu domicilio y recibirlo en tu casa o retirar en la sucursal.
                       </p>
                   </a>
                   </div>
                   <div class="palabra-envios">
           
                   ENVIOS
           
           <span>↓</span>
           </div>
           <label for="argentina">ARGENTINA</label>
                       <div class= "box-detalle envios">
                           <p>TECHCEL posee los siguientes costos de servicio de acuerdo al lugar donde recibas:</p>
                        </div> 
                        <div class="box-form">
                            <select name="provincia"id="Provincia">
                                <option value=""selected hidden>Seleccione su Provincia</option>
                                <option value="1">Buenos Aires</option>
                                <option value="2">Capital Federal</option>
                                <option value="3">Catamarca</option>
                                <option value="4">Chaco</option>
                                <option value="5">Chubut</option>
                                <option value="6">Cordoba</option>
                                <option value="7">Corrientes</option>           
                                <option value="8">Entre Rios</option>
                                <option value="9">Formosa</option>
                                <option value="10">Jujuy</option>
                                <option value="11">La Pampa</option>
                                <option value="12">Mendoza</option>
                                <option value="13">Misiones</option>
                                <option value="14">Neuquen</option>
                                <option value="15">Rio Negro</option>
                                <option value="16">Salta</option>
                                <option value="17">San Juan</option>
                                <option value="18">San Luis</option>
                                <option value="19">Santa Cruz</option>
                                <option value="20">Santa Fe</option>
                                <option value="21">Santiago del Estero</option>
                                <option value="22">Tierra del Fuego</option>
                                <option value="23">Tucuman</option>  
                        
                                                  
                                <div class="box-codigo">
                                    <label for="codigo_postal"></label>
                                    <input type="codigo" name= "codigo_postal" id= "text"placeholder= "Codigo Postal">
                                    </div>
                                    <br>
                        <section>
                            <ul>
                                 
                                 <li><i class="far fa-dot-circle"></i>&nbsp$350(Capital y Gran Buenos Aires)</li></br>
                                 <li><i class="far fa-dot-circle"></i>&nbsp$600 (interior Provincia de Buenos Aires) </li></br>
                                 <li><i class="far fa-dot-circle"></i>&nbsp$650 (Costa Atlántica)</li></br>                         
                                 <li><i class="far fa-dot-circle"></i>&nbsp$700 (Santa Fe, Entre Rios, Corrientes y La Pampa)</li></br>
                                 <li><i class="far fa-dot-circle"></i>&nbsp$750 (Mendoza, Cordoba y San Luis)</li></br>
                                 <li><i class="far fa-dot-circle"></i>&nbsp$750 (Tucuman, Salta y San Juan)</li></br>
                                 <li><i class="far fa-dot-circle"></i>&nbsp$800 (Catamarca, Jujuy, Formosa, Misiones y Chaco)</li></br>
                                 <li><i class="far fa-dot-circle"></i>&nbsp$900 (Neuquen y Chubut)</li></br>
                                 <li><i class="far fa-dot-circle"></i>&nbsp$1000 (Rio Negro, Santa cruz y Tierra del Fuego)</li></br>
                              </ul>
                          </section>   
                          <div class= "contactanos">
                             <a href="/contactanos">¿Tenes alguna otra consulta que no ves aquí? No dudes en contactarnos</a>
                            </div>                                 
                            </div>
                       </div>  
                </form>
                   </select> 
                   </body>
                </main>
                <footer>

                    <div class="redes">
                        <div>
                            <p class="p-redes">Seguinos en nuestras redes sociales</p>
                
                        </div>
                        <div class="iconos-redes">
                
                            <a href="/" class="facebook"><i class="fab fa-facebook-square"></i></a>
                            <a href="/" class="twitter"><i class="fab fa-twitter-square"></i></a>
                            <a href="/" class="instagram"><i class="fab fa-instagram"></i></a>
                            <a href="/" class="Google"><i class="fab fa-google-plus-square"></i></a>
                        </div>
                
                    </div>
                    <div class="contact1">
                
                        <a href="/" class="icono-contacto"><i class="fas fa-map-marker-alt"></i>
                            <p>Buenos Aires</p>
                        </a>
                        <a href="/" class="icono-contacto"><i class="fas fa-phone-square-alt"></i>
                            <p>0800-333-1235</p>
                        </a>
                        <a href="/" class="icono-contacto"><i class="fas fa-envelope-square"></i>
                            <p>info@techcel.com</p>
                        </a>
                
                    </div>
                
                
                    <div class="logo">
                        <a href="/">
                        <img src="/images/logo-techcel-blanco.png" alt="logo">
                        </a>
                    </div>
                
                
                    <div class="tarjetas">
                
                        <a href=""><img src="/images/visa.png" alt=""></a>
                
                        <a href=""><img class="master" src="/images/master.png" alt=""></a>
                        <a href=""><img src="/images/american.png" alt=""></a>
                        <a href=""><img src="/images/dinners.png" alt=""></a>
                
                    </div>
                
                
                    </section>
                
                </footer>  
                    
                </body>
                </html>
     
  </body>

</html>



















