<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHCEL - INICIO</title>
    <script src="https://kit.fontawesome.com/a36f27fccb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="home">
    <header>




    </header>
    <main>
        <div class="banner-home">
            <img src="/images/banner_moto_edge_5g.jpg" alt="Moto EDGE 5G">
        </div>
        <div class="next-carousel">
            <a class="circle" href=""><i class="fas fa-circle"></i></a>
            <a class="circle" href=""><i class="fas fa-circle"></i></a>
            <a class="circle" href=""><i class="fas fa-circle"></i></a>
            <a class="circle" href=""><i class="fas fa-circle"></i></a>
        </div>
        <section class="seccion-main">
            <h2>NOVEDADES</h2>
            <div class="caja-completa">
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-left"></i></a>
                </div>
                <div class="productos">
                    <article class="primero">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                    <article class="segundo">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                    <article class="tercero">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                    <article class="cuarto">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                </div>
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </section>
        <section class="seccion-main">
            <h2>OFERTAS</h2>
            <div class="caja-completa">
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-left"></i></a>
                </div>
                <div class="productos">
                    <article class="primero">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                    <article class="segundo">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                    <article class="tercero">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                    <article class="cuarto">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                </div>
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </section>
        <section class="seccion-main">
            <h2>LOS MÁS COMPRADOS</h2>
            <div class="caja-completa">
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-left"></i></a>
                </div>
                <div class="productos">
                    <article class="primero">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                    <article class="segundo">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                    <article class="tercero">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                    <article class="cuarto">
                        <img src="/images/MOTOG8PLUS.jpg" alt="">
                        <div>
                            <p class="detalle">MOTO G8 PLUS</p>
                        </div>
                    </article>
                </div>
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </section>
        <div>
            <a href="/"><button type="button">VER  MÁS</button></a>
        </div>
    </main>
    <footer>






    </footer>
</body>
</html>