<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
   rel="stylesheet" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    
   </head>
<body class="login">
    <main class="">
     <form action="/crearproducto" method="POST">

    <div class="box-inicia">
        
        <h3>INICIA SESION</h3>
    </div>   

    <div class="box-cuenta">

        <h3>INICIA SESION EN TU CUENTA</h3>

    </div>

    <div class= "box-techcel">
        <h3>TECHCEL</h3>
    </div>

        <div class="box-form">
        <label for="Email"></label>
        <input type="Email" name= "Email"id= "Email" placeholder= "Correo electronico">
        </div>
    
    <div class="box-form">
        <label for="password"></label>
        <input type="password" name= "clave" id= "password"placeholder= "Contraseña">
        </div>

    <div class= "recordarId">
        

        <label name="recordar" id="recordar" > <input type="checkbox" name="recordar" id="recordar">
            RECORDAR ID           
        
        </label>
    </div>   

    <div class="inicio-sesion">
        
         <button type="button">Iniciar sesion</button>
   
         <button type="button">Crear cuenta</button>
   
        </div>

    </form>
</main>
    <footer>
              
        <div>
            <p>Seguinos en nuestras redes sociales</p>
       
     </div>
            <div class="redes">
          
                               
                <a href=""class="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="" class= "twitter"><i class="fab fa-twitter-square"></i></a>
                <a href="" class= "instagram"><i class="fab fa-instagram"></i></a>
                <a href="" class= "Google"><i class="fab fa-google-plus-square"></i></a>
           
        </div>
        <div class= "contact1">
            
                <a href="" class= "icono-contacto"><i class="fas fa-map-marker-alt"></i></a>
                <a href="" class= "icono-contacto"><i class="fas fa-phone-square-alt"></i></a>
                <a href="" class= "icono-contacto"><i class="fas fa-envelope-square"></i></a>
          
        </div>


            <div class="logo">
                <a href="/"></a>
                <img src="/images/logo-techcel-blanco.png" alt="logo">  
                </a>
            </div>


            <div class="tarjetas"> 
          
                <a href=""><img src="/images/visa.png" alt=""></a>

                <a href=""><img class= "master"src="/images/master.png" alt=""></a>
                <a href=""><img src="/images/american.png" alt=""></a>
                <a href=""><img src="/images/dinners.png" alt=""></a>
                
        </div>
        
        
        </section>
     
    </footer>  
    
</body>
</html>