<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a36f27fccb.js" crossorigin="anonymous"></script>
</head>
<body class="detail">
    <header>

    </header>
    <main>
        <h1>xiaomi redmi 9</h1>
        <div class="card">
            <div class="imagenes">
                <img class="principal" src="/images/detail/Prueba_doble.webp" alt="">
                <div class="miniaturas">
                    <img src="/images/detail/Prueba_doble.webp" alt="">
                    <img src="/images/detail/Prueba_frente.webp" alt="">
                    <img src="/images/detail/Prueba_dorso.webp" alt="">
                </div>
                
            </div>
            <div class="contenido">
                <div class="star">
                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                </div>
                    <span>$4500</span>
                <div class="cart-button">
                    <i class="fas fa-shopping-cart"></i>
                    <a href="">Agregar al carrito</a>
                </div>
            </div>
            <span>Xiaomi Redmi 9 (Global) Dual SIM 64 GB sunset purple 4 GB RAM</span>
        </div>
        <h3>Caracteristicas principales</h3>
        <div class="caracteristicas">
            <div>
                <i class="fas fa-mobile-alt"></i><p>Pantalla de</p>
            </div>
            <div>
                <i class="fas fa-microchip"></i><p>procesador de</p>
            </div>
            <div>
                <i class="fas fa-memory"></i><p>memoria de</p>
            </div>
            <div>
                <i class="fas fa-box-open"></i><p>almacenamiento de</p>
            </div>
            <div>
                <i class="fas fa-sim-card"></i><p>expansión:</p>
            </div>
            <div>
                <i class="fas fa-camera"></i><p>camara de</p>
            </div>
            <div>
                <i class="fas fa-battery-three-quarters"></i><p>bateria de</p>
            </div>
            <div>
                <i class="fas fa-code"></i><p>OS:</p>
            </div>
            <div>
                <i class="fas fa-ruler-combined"></i><p>Perfil</p>
            </div>
            <div>
                <i class="fas fa-balance-scale-right"></i><p>Peso:</p>
            </div>
        </div>
        <div class="mas">
            <h3>ver más</h3>
            <div>
                <div class="redes">
                    <p>redes</p>
                        <div class="encabezados">
                            <p>2G</p>
                            <p>3G</p>
                            <p>4G</p>
                            <p>5G</p>
                            <p>GPRS</p>
                            <p>EDGE</p>
                            <p>SIM</p>
                        </div>
                        <div class="detalles">
                            <p>GSM 850 / 900 / 1800 / 1900 (SIM 1 & SIM 2)</p>
                            <p>HSDPA 800 / 850 / 900 / 1700(AWS) / 1800 / 1900 / 2100</p>
                            <p>	LTE B1 / B2 / B3 / B4 / B5 / B7 / B8 / B12 / B17 / B18 / B19 / B20 / B26 / B28 / B32 / B34 / B38 / B39 / B40 / B41 / B66</p>
                            <p>SA/NSA B1 / B3 / B7 / B8 / B20 / B28 / B38 / B41 / B66 / B78</p>
                            <p>SI</p>
                            <p>SI</p>
                            <p>nano-SIM dual</p>
                        </div>
                </div>
                <div class="tamanio">
                    <p>Tamaño</p>
                    <div class="encabezados">
                        <p>Dimensiones</p>
                        <p>Peso</p>
                        <p>Materiales</p>
                    </div>
                    <div class="detalles">
                        <p>158.9 x 73.2 x 8.2 mm</p>
                        <p>189 g</p>
                        <p>Frente y posterior de vidrio, marco de plástico</p>
                    </div>
                </div>
                <div class="display">
                    <p>Display</p>
                    <div class="encabezados">
                        <p>Tipo</p>
                        <p>Tamaño</p>
                        <p>Resolución</p>
                        <p>Densidad</p>
                        <p>Protección</p>
                    </div>
                    <div class="detalles">
                        <p>Fluid AMOLED touchscreen capacitivo, 16M colores</p>
                        <p>Fluid AMOLED touchscreen capacitivo, 16M colores</p>
                        <p>1080 x 2400 pixels</p>
                        <p>410 ppi</p>
                        <p>Gorilla Glass 5 (frente y atrás)</p>
                    </div>
                </div>
                <div class="plataforma">
                    <p>Plataforma</p>
                    <div class="encabezados">
                        <p>Sistema operativo</p>
                        <p>Procesador</p>
                    </div>
                    <div class="detalles">
                        <p>Android 11</p>
                        <p>MediaTek MT6893 Dimensity 1200 octa-core 3.0GHz</p>
                    </div>
                </div>
                <div class="memoria">
                    <p>Memoria</p>
                    <div class="encabezados">
                        <p>Interna</p>
                        <p>Slot de tarjeta</p>
                    </div>
                    <div class="detalles">
                        <p>6/8GB RAM, 128GB almacenamiento interno</p>
                        <p>No</p>
                    </div>
                </div>
                <div class="camara">
                    <p>camara</p>
                    <div class="encabezados">
                        <p>Principal</p>
                        <p>Funciones</p>
                        <p>Video</p>
                        <p>Frontal</p>
                    </div>
                    <div class="detalles">
                        <p>Triple, 50 MP (f/1.9, PDAF, OIS, wide) + 8 MP (f/2.3, EIS, ultrawide) + 2 MP (f/2.4, profundidad)</p>
                        <p>autofocus por detección de fase, estabilización óptica de imagen, flash LED dual, geo-tagging, HDR</p>
                        <p>	4K@30fps, 1080p@30/60/240fps, EIS</p>
                        <p>32 MP, f/2.45, wide,1080p@30/60fps, auto-HDR, EI</p>
                    </div>
                </div>
                <div class="conectividad">
                    <p>Conectividad</p>
                    <div class="encabezados">
                        <p>Wi-Fi</p>
                        <p>Bluetooth</p>
                        <p>GPS</p>
                        <p>USB</p>
                        <p>NFC</p>
                    </div>
                    <div class="detalles">
                        <p>Wi-Fi 802.11 a/b/g/n/ac/ax; Wi-Fi Direct; banda dua</p>
                        <p>v5.2 LE, A2DP, aptX, aptX HD</p>
                        <p>GPS con soporte A-GPS banda dual, GLONASS, GALILEO, BDS, SBAS, NavIC</p>
                        <p>USB Type-C 2.0, OTG</p>
                        <p>Si</p>
                    </div>
                </div>
            </div>
        </div>

        <h4>tambien te pueden interesar</h4>

        <div class="carrousel">
            <img src="/images/detail/Prueba_dorso.webp" alt="">
            <h2>Nombre del Producto</h2>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>