<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a36f27fccb.js" crossorigin="anonymous"></script>
</head>

<body class="detail">
    <header>

    </header>
    <main>
        <h1>xiaomi redmi 9</h1>
        <div class="container">
            <div class="card">
                <div class="imagenes">
                    <img class="principal" src="/images/detail/Prueba_doble.webp" alt="">
                    <div class="miniaturas">
                        <img src="/images/detail/Prueba_doble.webp" alt="">
                        <img src="/images/detail/Prueba_frente.webp" alt="">
                        <img src="/images/detail/Prueba_dorso.webp" alt="">
                    </div>
                </div>
                <div class="contenedor">
                <div class="contenido">
                    <div class="star">
                        <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i
                            class="far fa-star"></i><i class="far fa-star"></i>
                    </div>
                    <span>$4500</span>
                    <div class="cart-button">
                        <div>
                            <i class="fas fa-shopping-cart"></i>
                            <a href="">Agregar al carrito</a>
                        </div>
                    </div>
                    <div class="main-caracteristicas-desktop">
                        <h3>Caracteristicas principales</h3>
                        <div class="caracteristicas">
                            <div>
                                <i class="fas fa-mobile-alt"></i>
                                <p>Pantalla de</p>
                            </div>
                            <div>
                                <i class="fas fa-microchip"></i>
                                <p>procesador de</p>
                            </div>
                            <div>
                                <i class="fas fa-memory"></i>
                                <p>memoria de</p>
                            </div>
                            <div>
                                <i class="fas fa-box-open"></i>
                                <p>almacenamiento de</p>
                            </div>
                            <div>
                                <i class="fas fa-sim-card"></i>
                                <p>expansión:</p>
                            </div>
                            <div>
                                <i class="fas fa-camera"></i>
                                <p>camara de</p>
                            </div>
                            <div>
                                <i class="fas fa-battery-three-quarters"></i>
                                <p>bateria de</p>
                            </div>
                            <div>
                                <i class="fas fa-code"></i>
                                <p>OS:</p>
                            </div>
                            <div>
                                <i class="fas fa-ruler-combined"></i>
                                <p>Perfil</p>
                            </div>
                            <div>
                                <i class="fas fa-balance-scale-right"></i>
                                <p>Peso:</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="fullname">
                    <h4>Xiaomi Redmi 9 (Global) Dual SIM 64 GB sunset purple 4 GB RAM</h4>
                </div>
            </div>
            <h4 class="name-mobile">Xiaomi Redmi 9 (Global) Dual SIM 64 GB sunset purple 4 GB RAM</h4>
            </div>
            <div class="main-caracteristicas-mobile">
                <h3>Caracteristicas principales</h3>
                <div class="caracteristicas">
                    <div>
                        <i class="fas fa-mobile-alt"></i>
                        <p>Pantalla de</p>
                    </div>
                    <div>
                        <i class="fas fa-microchip"></i>
                        <p>procesador de</p>
                    </div>
                    <div>
                        <i class="fas fa-memory"></i>
                        <p>memoria de</p>
                    </div>
                    <div>
                        <i class="fas fa-box-open"></i>
                        <p>almacenamiento de</p>
                    </div>
                    <div>
                        <i class="fas fa-sim-card"></i>
                        <p>expansión:</p>
                    </div>
                    <div>
                        <i class="fas fa-camera"></i>
                        <p>camara de</p>
                    </div>
                    <div>
                        <i class="fas fa-battery-three-quarters"></i>
                        <p>bateria de</p>
                    </div>
                    <div>
                        <i class="fas fa-code"></i>
                        <p>OS:</p>
                    </div>
                    <div>
                        <i class="fas fa-ruler-combined"></i>
                        <p>Perfil</p>
                    </div>
                    <div>
                        <i class="fas fa-balance-scale-right"></i>
                        <p>Peso:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mas">
            <h3>ver más <i class="fas fa-chevron-down"></i></h3>
            <div class="mas-datos">

            </div>
        </div>


        <h4>tambien te pueden interesar</h4>

        <div class="carrousel">
            <i class="fas fa-chevron-left"></i>
            <div class="card-interes">
                <img src="/images/detail/Prueba_dorso.webp" alt="">
                <h2>Nombre del Producto</h2>
            </div>
            <i class="fas fa-chevron-right"></i>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>