<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
        integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f"
        crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>

<body>
    <main class="product-cart">
        <div class="container-productos mayusculas">
            <div class="titulo">
                <div class="titulo-carrito">
                    <h1>Mi carrito</h1>
                </div>
                <div class="carrito-icono">
                    <i class="fas fa-shopping-cart"></i>

                </div>
            </div>

            <div class="container-descripcion">
                <div class="imagen-carrito">
                    <img
                        src="https://mxmoto.vteximg.com.br/arquivos/ids/163450-700-700/MotoG8_Plus_AzulNocturno_Dual.png?v=637376940226370000">
                </div>
                <div class="descripcion-carrito">
                    <div class="marca-precio">
                        <p>motorola - g8 - azul</p>
                        <p>$20.000</p>
                    </div>
                <div class="cantidad">
                        <input type="checkbox" name="" id="">
                </div>
                <div class="suma">
                    <p>$20.000</p>
                </div>
                </div>

                <div class="tacho">
                    <i class="fas fa-trash"></i>
                </div>
            </div>

            <div class="container-descripcion">
                <div class="imagen-carrito">
                    <img src="https://mxmoto.vteximg.com.br/arquivos/ids/163450-700-700/MotoG8_Plus_AzulNocturno_Dual.png?v=637376940226370000"
                        alt="100">
                </div>
                <div class="descripcion-carrito mayusculas">
                    <div class="marca-precio">
                        <p>motorola - g8 - azul</p>
                        <p>$20.000</p>
                    </div>
                <div class="cantidad">
                        <input type="checkbox" name="" id="">
                </div>
                <div class="suma">
                    <p>$40.000</p>
                </div>
                </div>
                <div class="tacho">
                    <i class="fas fa-trash"></i>
                </div>
            </div>

            <div class="container-descripcion">
                <div class="imagen-carrito">
                    <img src="https://mxmoto.vteximg.com.br/arquivos/ids/163450-700-700/MotoG8_Plus_AzulNocturno_Dual.png?v=637376940226370000"
                        alt="100">
                </div>
                <div class="descripcion-carrito">
                    <div class="marca-precio">
                        <p>motorola - g8 - azul</p>
                        <p>$20.000</p>
                    </div>
                <div class="cantidad">
                        <input type="checkbox" name="" id="">
                </div>
                <div class="suma">
                    <p>$60.000</p>
                </div>
                </div>
                <div class="tacho">
                    <i class="fas fa-trash"></i>
                </div>
            </div>


        </div>
        <div class="container-2">
            <div class="seguir-comprando">
                <button class="mayusculas">Seguir comprando</button>
            </div>
    
            <div class="container-total mayusculas">
                <div class="cuentas">
                    <h3>Subtotal</h3>
                    <p>$72.000</p>
                </div>
                <div class="cuentas">
                    <h3>Costos del Envio</h3>
                    <p>$0</p>
                </div>
                <div class="cuentas">
                    <h3>Descuentos</h3>
                    <p>$0</p>
                </div>
                <div class="cuentas total-cuenta">
                    <h3>Total</h3>
                    <p>$72.000</p>
                    <!--Suma total-->
                </div>
            </div>
            <div class="descuento mayusculas">
                <div class="descuento">
                    <h2>Cupón de descuento</h2>
                </div>
                <div class="descuento-mas">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="boton-comprar">
                <button class="mayusculas">Comprar</button>
            </div>
            </div>
            
        </main>
        </div>
        
</body>

</html>