<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a36f27fccb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="register">
    <header>
        <div class="listas">
            <div class="lista1">
                <nav>
                    <ul class="contactanos">
                        <li><i class="far fa-envelope"></i><a href="">Contactanos</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <nav>
                    <ul class="lista2">
                        <li><a href=""><i class="far fa-user"></i>Ingresar</li></a>
                        <li><a class="border" href="">Crear Cuenta</i></a></li>
                        <li><a href=""><i class="fas fa-shopping-cart"></i>Carrito de compras</a></li>
                        <li><a href=""><i class="far fa-paper-plane"></i>Envios</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="contenedor">
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>

            <div class="logo">
                <img width="200" src="/images/logo-techcel-blanco.png" alt="">
            </div>

            <div class="buscador">
                <input type="text" class="searc-button" placeholder= "Buscar" href=""><i class="fas fa-search"></i>
            </div>
            <div class="iconos">
                <div>
                    <i class="fas fa-search"></i>
                </div>
                <div>
                    <i class="far fa-user"></i>
                </div>
                <div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div>
            <nav class="titulo">

                <ul class="lista3">
                    <li> <a href=""></i>Home </a></li>
                    <li><a href="">¿Como comprar? </i></a></li>
                    <li><a href=""></i>Productos</i></a></li>
                    <li><a href=""></i>Acerca de nosotros </a></li>
                </ul>
            </nav>
        </div>

    </header>
    <main>
        <div>
            <h1>
                Formulario de registro
            </h1>
        </div>
        <div>
            <form action="" method="GET">
                <div>
                    <label for="ingrese su nombre"></label>
                    <input type="text" placeholder="Ingresa tu nombre">
                    <small class="rojo">*Obligatorio.</small>
                </div>
                <div>
                    <label for="ingrese su apellido"></label>
                    <input type="text" placeholder="Ingresa tu apellido">
                    <small class="rojo">*Obligatorio.</small>
                </div>
                <div>
                    <label for="ingrese su Email"></label>
                    <input type="text" placeholder="Ingresa tu Email">
                    <small class="rojo">*Obligatorio.</small>
                </div>
                <div>
                    <label for="ingrese su contraseña"></label>
                    <input type="password" placeholder="Ingresa tu contraseña">
                    <small class="rojo">*Obligatorio.</small>
                </div>
        </div>
        <div class="terms">
            
            <input class="check" type="checkbox" name="terms" id="terms" value="terms"> 
            <label for="terms"> Acepto términos y condiciones</label>
            
           

        </div>

        <div class="boton">
            <button type="submit">Registrar</button>
        </div>
        <div>
            <h5><a href="">¿Ya tengo una cuenta?</a></h5>
        </div>
        </form>
    </main>
</body>

</html>