<header>
    <div class="listas">
        <div>
            <nav>
                <ul class="lista2">
                    <li><a href="/admin">Administrador</i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="contenedor">
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class="logo">
            <a href="/"><img src="/images/logo-techcel-blanco.png" alt=""></a>
        </div>

        <div class="buscador">
            <form action="/admin/search" method="GET">
                <input type="text" class="searc-button" placeholder="Buscar" name="keywords" href="">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <div>
        <nav class="titulo">

            <ul class="lista3">
                <li><a href="/">Volver al home</a></li>
                <li><a href="/admin">Lista de productos</a></li>
                <li><a href="/admin/add">Agregar producto</a></li>
            </ul>
        </nav>
    </div>

</header>