<header>
    <div class="listas">
        <div class="lista1">
            <nav>
                <ul class="contactanos">
                    <li><a href="/admin"><i class="fas fa-briefcase"></i>Administrador</a></li>
                </ul>
            </nav>
        </div>
        <div>

            <nav>
                <ul class="lista2">
                    
                        <li><a href="/users/profile"><img class="mini-avatar" src="/images/usuarios/<%= locals.userLogin.avatar %>" alt=""></a></li>
                        <li><a href="/users/profile"><%=locals.userLogin.name %></a></li>
                        <li><a href="/users/logout" class="border">Cerrar sesión</a></li>

                </ul>
            </nav>
        </div>
    </div>
    <div class="contenedor">
        <div class="toggle burger">

            <i class="fas fa-bars"></i>

        </div>

        <div class="logo">
            <a href="/"><img src="/images/logo-techcel-blanco.png" alt=""></a>
        </div>

        <div class="buscador">
            <form action="/admin/search" method="GET">
                <input type="text" class="searc-button" placeholder="Buscar" name="keywords" href="">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        
    </div>
    <div class="menu-desplegable menu-desplegable_visible">
        <ul class="ul-drop-down">
            <li><a href="/">Volver al home</a></li>
            <li><a href="/admin">Volver a administrador</a></li>
            <li><a href="/admin/products">Lista de productos</a></li>
            <li><a href="/admin/products/add">Agregar producto</a></li>
            <% if (locals.userLogin) { %>
                
                <li><a href="/users/profile">
                        <%=locals.userLogin.name %>
                    </a></li>
                <li><a href="/users/logout" class="border">Cerrar sesión</a></li>

                <% } %>
        </ul>
    </div>
    <div>
        <nav class="titulo">

            <ul class="lista3 admin">
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Administrador</a></li>
                <li><a href="/admin/products">Productos</a></li>
                <li><a href="/admin/products/add">Agregar producto</a></li>
            </ul>
        </nav>
    </div>
    <script src="/javascripts/dropDown.js"></script>
</header>