<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{title:"Admin"}) %>
<body class = "adminIndex">
    <%- include('./partials/header') %>
    <main>
        <h1>Administrador</h1>
        <div class="images-container">
            <a href="/admin/products"><img src="/images/admin/celulares.jpg" alt=""></a>
            <a href="/admin/users"><img src="/images/admin/usuarios.png" alt=""></a>
            <a href="/admin/colours"><img src="/images/admin/colores.png" alt=""></a>
            <a href="/admin/categories"><img src="/images/admin/categorias.jpg" alt=""></a>
        </div>
        
       
        
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/adminIndex.js"></script>
</body>
</html>
