<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{title:"Admin"}) %>
<body class = "adminIndex">
    <%- include('./partials/header') %>
    <main>
        <h1>Administrador</h1>
        <div class="images-container">
            <div class="images">
                <a href="/admin/products"><img class="fondo" src="/images/admin/celulares.jpg" alt="">
                    <div class="title">
                        <img class="img-title" src="/images/admin/celulares-titulo.png" alt="">
                    </div>
                    <div class="text">
                        <p>Agregar, editar o eliminar productos</p>
                    </div>
                <div class="content-1"></div>
                <div class="content-2"></div>
                <div class="content-3"></div>
                <div class="content-4"></div>
            </a>
            </div>
            <div class="images">
                <a href="/admin/users"><img class="fondo" src="/images/admin/usuarios.png" alt="">
                    <div class="title">
                        <img class="img-title" src="/images/admin/usuarios-titulo.png" alt="">
                    </div>
                    <div class="text">
                        <p>Editar rol o eliminar usuarios</p>
                    </div>
                <div class="content-1"></div>
                <div class="content-2"></div>
                <div class="content-3"></div>
                <div class="content-4"></div>
            </a>
            </div>
            <div class="images">
                <a href="/admin/colours"><img class="fondo" src="/images/admin/colores.png" alt="">
                    <div class="title">
                        <img class="img-title" src="/images/admin/colores-titulo.png" alt="">
                    </div>
                    <div class="text">
                        <p>Agregar, editar o eliminar colores</p>
                    </div>
                <div class="content-1"></div>
                <div class="content-2"></div>
                <div class="content-3"></div>
                <div class="content-4"></div>
            </a>
            </div>
            <div class="images">
                <a href="/admin/categories"><img class="fondo" src="/images/admin/categorias.jpg" alt="">
                    <div class="title">
                        <img class="img-title" src="/images/admin/categorias-titulo.png" alt="">
                    </div>
                    <div class="text">
                        <p>Agregar, editar o eliminar categorias</p>
                    </div>
                <div class="content-1"></div>
                <div class="content-2"></div>
                <div class="content-3"></div>
                <div class="content-4"></div>
            </a>
            </div>
        </div>
        
       
        
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/adminIndex.js"></script>
</body>
</html>
