<!DOCTYPE html>
<html>
<%- include('../partials/head',{title:"Agregar Producto"}) %>

    <body class="productAdd">
        <%- include('./partials/header') %>
            <main class="admin-container">
                <div class="container">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="general bloque">
                            <div>
                                <h2 class="centrar-titulos"> General</h2>
                            </div>
                            <div class="centrar">
                                <label for="nombreCorto">Nombre Corto</label>
                                <input type="text" required name="nombreCorto" id="nombreCorto">
                            </div>
                            <div class="centrar">
                                <label for="nombreLargo">Nombre Largo</label>
                                <input type="text" required name="nombreLargo" id="nombreLargo">
                            </div>
                            <div class="centrar">
                                <label for="marca">Marca</label>
                                <input type="text" required name="marca" id="marca">
                            </div>
                            <div class="centrar">
                                <label for="precio">Precio</label>
                                <input type="number" required name="precio" id="precio">
                            </div>
                            <div class="centrar">
                                <label for="categoria">Categoria</label>
                                <!--falta agregar categorias-->
                                <input type="text" required name="categoria" id="categoria">
                            </div>

                            <div class="centrar">
                                <label for="color">Color</label>
                                <input type="text" required name="color" id="color">
                            </div>

                            <div class="centrar">
                                <label for="edge">EDGE</label>
                                <input type="text" required name="edge" id="edge">
                            </div>

                            <div class="centrar">
                                <label for="dimensiones">Dimensiones</label>
                                <input type="text" required name="dimensiones" id="dimensiones">
                            </div>
                            <div class="centrar">
                                <label for="peso">Peso</label>
                                <input type="text" required name="peso" id="peso">
                            </div>
                        </div>
                        <div class="principal bloque">
                            <div>
                                <h2 class="centrar-titulos"> Principales Caracteristicas</h2>
                            </div>
                            <div class="centrar">

                                <label for="pantallaP">Pantalla Principal</label>
                                <input type="text" required name="pantallaP" id="pantallaP">
                            </div>
                            <div class="centrar">
                                <label for="procesadorP">Procesador Principal</label>
                                <input type="text" required name="procesadorP" id="procesadorP">
                            </div>
                            <div class="centrar">
                                <label for="memoriaP">Memoria Principal</label>
                                <input type="text" required name="memoriaP" id="memoriaP">
                            </div>
                            <div class="centrar">
                                <label for="almacenamientoP">Almacenamiento Principal</label>
                                <input type="text" required name="almacenamientoP" id="almacenamientoP">
                            </div>
                            <div class="centrar">
                                <label for="expansionP">Expansion Principal</label>
                                <input type="text" required name="expansionP" id="expansionP">
                            </div>
                            <div class="centrar">
                                <label for="camaraP">Cámara Principal</label>
                                <input type="text" required name="camaraP" id="camaraP">
                            </div>
                            <div class="centrar">
                                <label for="bateriaP">Batería Principal</label>
                                <input type="text" name="bateriaP" id="bateriaP">
                            </div>
                            <div class="centrar">
                                <label for="osP">Sistema Operativo Principal</label>
                                <input type="text" name="osP" id="osP">
                            </div>
                            <div class="centrar">
                                <label for="perfilP">Perfil Principal</label>
                                <input type="text" required name="perfilP" id="perfilP">
                            </div>
                            <div class="centrar">
                                <label for="pesoP">Peso Principal</label>
                                <input type="text" required name="pesoP" id="pesoP">
                            </div>
                        </div>
                        <div class="redes bloque">
                            <div>
                                <h2 class="centrar-titulos"> Redes</h2>
                            </div>
                            <div class="centrar">
                                <label for="dosg">2G</label>
                                <input type="text" required name="dosg" id="dosg">
                            </div>
                            <div class="centrar">
                                <label for="tresg">3G</label>
                                <input type="text" required name="tresg" id="tresg">
                            </div>
                            <div class="centrar">
                                <label for="cuatrog">4G</label>
                                <input type="text" required name="cuatrog" id="cuatrog">
                            </div>
                            <div class="centrar">
                                <label for="cincog">5G</label>
                                <input type="text" required name="cincog" id="cincog">
                            </div>
                            <div class="centrar">
                                <label for="gprs">GPRS</label>
                                <input type="text" required name="gprs" id="gprs">
                            </div>
                            <div class="centrar">
                                <label for="sim">SIM</label>
                                <input type="text" required name="sim" id="sim">
                            </div>
                        </div>
                        <div class="camara bloque">
                            <div>
                                <h2 class="centrar-titulos"> Cámaras</h2>
                            </div>
                            <div class="centrar">
                                <label for="camaraPrincipal">Cámara Principal</label>
                                <input type="text" required name="camaraPrincipal" id="camaraPrincipal">
                            </div>
                            <div class="centrar">
                                <label for="camaraVideo">Cámara Video</label>
                                <input type="text" required name="camaraVideo" id="camaraVideo">
                            </div>
                            <div class="centrar">
                                <label for="camaraFrontal">Cámara Frontal</label>
                                <input type="text" required name="camaraFrontal" id="camaraFrontal">
                            </div>
                        </div>

                        <div class="bateria bloque">
                            <div>
                                <h2 class="centrar-titulos"> Bateria</h2>
                            </div>
                            <div class="centrar">
                                <label for="bateriaCapacidad">Capacidad de Bateria</label>
                                <input type="text" required name="bateriaCapacidad" id="bateriaCapacidad">
                            </div>
                            <div class="centrar">
                                <label for="bateriaTipo">Tipo de Bateria</label>
                                <input type="text" required name="bateriaTipo" id="bateriaTipo">
                            </div>
                            <div class="centrar">
                                <label for="extraible">Extraible</label>
                                <input type="text" required name="extraible" id="extraible">
                            </div>
                            <div class="centrar">
                                <label for="cargaRapida">Carga Rápida</label>
                                <input type="text" required name="cargaRapida" id="cargaRapida">
                            </div>
                            <div class="centrar">
                                <label for="cargaInalambrica">Carga Inalambrica</label>
                                <input type="text" required name="cargaInalambrica" id="cargaInalambrica">
                            </div>

                        </div>

                        <div class="memoria bloque">
                            <div>
                                <h2 class="centrar-titulos"> Memoria</h2>
                            </div>
                            <div class="centrar">
                                <label for="memoriaInterna">Memoria Interna</label>
                                <input type="text" required name="memoriaInterna" id="memoriaInterna">
                            </div>
                            <div class="centrar">
                                <label for="slot">SLOT</label>
                                <input type="text" name="slot" id="slot">
                            </div>
                        </div>
                        <div class="conectividad bloque">
                            <div>
                                <h2 class="centrar-titulos"> Conectividad</h2>
                            </div>
                            <div class="centrar">
                                <label for="wifi">Wi-Fi</label>
                                <input type="text" required name="wifi" id="wifi">
                            </div>
                            <div class="centrar">
                                <label for="bluetooth">Bluetooth</label>
                                <input type="text" required name="bluetooth" id="bluetooth">
                            </div>
                            <div class=" centrar">
                                <label for="gps">GPS</label>
                                <input type="text" required name="gps" id="gps">
                            </div>
                            <div class="centrar">
                                <label for="usb">USB</label>
                                <input type="text" required name="usb" id="usb">
                            </div>
                            <div class="centrar">
                                <label for="nfc">NFC</label>
                                <input type="text" required name="nfc" id="nfc">
                            </div>
                            <div class="centrar">
                                <label for="infrarrojo">Infrarrojo</label>
                                <input type="text" required name="infrarrojo" id="infrarrojo">
                            </div>

                        </div>
                        <div class="display bloque">
                            <div>
                                <h2 class="centrar-titulos"> Display</h2>
                            </div>
                            <div class="centrar">
                                <label for="displayTipo">Display Tipo</label>
                                <input type="text" required name="displayTipo" id="displayTipo">
                            </div>
                            <div class="centrar">
                                <label for="displayTamanio">Display Tamaño</label>
                                <input type="text" required name="displayTamanio" id="displayTamanio">
                            </div>
                            <div class="centrar">
                                <label for="displayResolucion">Display Resolución</label>
                                <input type="text" required name="displayResolucion" id="displayResolucion">
                            </div>
                            <div class="centrar">
                                <label for="densidad">Densidad</label>
                                <input type="text" required name="densidad" id="densidad">
                            </div>
                            <div class="centrar">
                                <label for="proteccion">Protección</label>
                                <input type="text" required name="proteccion" id="proteccion">
                            </div>
                            <div class="centrar">
                                <label for="os">Sistema Operativo</label>
                                <input type="text" required name="os" id="os">
                            </div>
                            <div class="centrar">
                                <label for="procesador">Procesador</label>
                                <input type="text" required name="procesador" id="procesador">
                            </div>
                        </div>
                        <div class="imagenes bloque">
                            <div>
                                <h2 class="centrar-titulos"> Imagenes</h2>
                            </div>
                            <div class="centrar subir-img">
                                <label for="imagenCompleta">Imagen Completa</label>
                                <input type="file" name="imagenCompleta" id="imagenCompleta">
                            </div>
                            <div class="centrar subir-img">
                                <label for="imagenDorso">Imagen Dorso</label>
                                <input type="file" name="imagenDorso" id="imagenDorso">
                            </div>
                            <div class="centrar subir-img">
                                <label for="imagenFrente">Imagen Frente</label>
                                <input type="file" name="imagenFrente" id="imagenFrente">
                            </div>

                        </div>
                        <div class="centrar agregar-producto"><button type="submit">Agregar producto</button></div>
                        <!--<div class="centrar"><button type="submit" class="boton-enviar">Agregar</button></div>-->
                    </form>
                    <!---->








                </div>
            </main>


            <%- include('../partials/footer') %>

    </body>

</html>