<!DOCTYPE html>
<html lang="es">
<%-include('../partials/head',{title:"INICIAR SESION"})  %> 
<body class="login">

    <%-include('../partials/header')  %> 

    <main class="">
     <form action="" method="POST">

    <div class="box-inicia">
        
        <h3>INICIA SESION</h3>
    </div>   

    <div class="box-cuenta">

        <h3>INICIA SESION EN TU CUENTA</h3>

    </div>

    <div class= "box-techcel">
        <h3>TECHCEL</h3>
    </div>

        <div class="box-form">
        <label for="email"></label>
        <input class="email" type="email" name= "email"id= "email" placeholder= "Correo electronico">
    </div>
    
    <div class="box-form">
        <label for="password"></label>
        <input class="password" type="password" name= "password" id= "password"placeholder= "Contraseña">
       
    </div>
    <div class="error">
    <span class=""><%= locals.errores && errores.email ? errores.email.msg : null %> </span>
</div>
    <div class= "recordarId">
        

        <label name="recordar" id="recordar" > <input type="checkbox" name="recordar" id="recordar">
            RECORDAR ID           
        
        </label>
    </div>   
    

    <div class="inicio-sesion">
        
         <button type="submit">Iniciar sesion</button>
   
         <a href="/users/register"><button type="button">Crear cuenta</button></a>
   
        </div>

    </form>
</main>

<%-include('../partials/footer')  %> 
    
</body>
</html>