<!DOCTYPE html>
<html lang="es">
    <%-include('../partials/head',{title:"REGISTRATE"})  %> 

<body class="register">
    <%-include('../partials/header')  %> 

        <main>
        <div>
            <h1>
                Formulario de registro
            </h1>
        </div>
        <div>
            <form action="" method="GET">
                <div>
                    <label for="ingrese su nombre"></label>
                    <input type="text" placeholder="Ingresa tu nombre">
                    <small class="rojo">*Obligatorio.</small>
                </div>
                <div>
                    <label for="ingrese su apellido"></label>
                    <input type="text" placeholder="Ingresa tu apellido">
                    <small class="rojo">*Obligatorio.</small>
                </div>
                <div>
                    <label for="ingrese su Email"></label>
                    <input type="text" placeholder="Ingresa tu Email">
                    <small class="rojo">*Obligatorio.</small>
                </div>
                <div>
                    <label for="ingrese su contraseña"></label>
                    <input type="password" placeholder="Ingresa tu contraseña">
                    <small class="rojo">*Obligatorio.</small>
                </div>
        </div>


        <div class="terms">
            <input class="check " type="checkbox" id="terms" value="terms" name="terms">
            <label class="text" for="terms"> Acepto términos y condiciones</label>
        </div>


        <div class="boton">
            <button type="submit">Registrar</button>
        </div>
        <div>
            <h5><a href="/users/login">¿Ya tengo una cuenta?</a></h5>
        </div>
        </form>
    </main>
    
    <%-include('../partials/footer')  %> 
    
</body>

</html>