<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{title:"ABOUT"}) %>

    <body class="about">

        <%- include('./partials/header') %>

            <main>
                <div>
                    <h2>Sobre nosotros</h2>
                    <p> Presentamos con entusiasmo nuestro primer E-commers. Impulsados por la optimización, creamos
                        nuestro sitio Web funcional para las ventas como para la experiencia de usuario. Nuestro mayor
                        sueño es dedicarnos a esto que tanto nos gusta y seguir perfeccionándonos.
                        Nos sentimos orgullosos de lo logrado. Estamos convencidos de que el éxito obtenido no hubiese
                        sido posible sin los valores de cada integrante de nuestro equipo. </p>
                </div>
                <div>
                    <br>
                    <h2>Nuestro equipo</h2>
                    <br>
                    <br>
                    <p>Ana Rolon</p>
                    <p>Desarrolladora Web, administrativa y profesora de Yoga</p>
                    <a href="https://www.linkedin.com/in/anad-rolón" target="_blank"><p>LinkedIn</p> </a>
                    <br>
                    <br>
                    <p>Angel Díaz</p>
                    <p>Desarrollador Web, cocinero</p>
                    <p>kornangel.ad@gmail.com</p>
                    <br>
                    <p>Gastón LaFuente</p>
                    <p>Desarrollador Web, comerciante</p>
                    <p>lafuente.gf@gmail.com</p>
                    <br>
                    <p>Juan Pablo Silva</p>
                    <p>Desarrollador Web, administrativo</p>
                    <a href="https://linkedin.com/in/silvajuan1989" target="_blank"><p>LinkedIn</p></a>
                    <br>
                    <br>
                    <p>Melisa Díaz</p>
                    <p>Desarrolladora Web, administrativa</p>
                    <p>melisaadiaz.mad@gmail.com</p>


                </div>
            </main>

            <%- include('./partials/footer') %>

    </body>

</html>