<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{title:"ABOUT"}) %>

    <body class="about">

        <%- include('./partials/header') %>

            <main>
                <div>
                    <h2>Acerca de TECHCEL</h2>
                    <p> TECHCEL llego con un gran compromiso: brindar la mejor experiencia a servicio del cliente, desde
                        el usuario hogareño hasta las grandes empresas, con un servicio de asesoramiento y ventas de
                        smartphones además de un excelente servicio de post-venta permanente.

                        Nos sentimos orgullosos de lo logrado. Estamos convencidos de que el éxito obtenido no hubiese
                        sido posible sin la lealtad de nuestros clientes, proveedores. Destacando en forma especial que
                        tal éxito se basa sobre todo en los valores. </p>
                </div>
                <div>
                    <h2>Visión</h2>
                    <p>Ser la tienda omnicanal y de servicios financieros personales y digitales, favorita del mercado
                        masivo, que ofrece una gran variedad de categorías de productos y servicios útiles, atractivos y
                        accesibles, de marcas líderes, que atienden las necesidades, así como los deseos de sus clientes
                    </p>
                </div>
                <div>
                    <h2>Propósito</h2>
                    <p>Acompañarte en tus necesidades y deseos, acercándote un mundo de posibilidades para que mejores
                        tu vida.</p>
                </div>
                <div class="valores1">
                    <h2>Valores</h2>
                    <div class="val">
                        <p> Confianza.</p>
                        <p>Responsabilidad.</p>
                        <p>Atención y servicio.</p>
                        <p> Eficiencia y sencillez.</p>
                        <p> Innovación.</p>
                    </div>
                </div>
            </main>

            <%- include('./partials/footer') %>

    </body>

</html>