<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title : "COMO COMPRAR"})%>

<body class="comoComprar">

    <%- include('./partials/header')%>

    <main>

        <h1>¿Cómo comprar?</h1>

        <section class="items">
            <article>
                <i class="fas fa-user-check"></i>
                <h4> 1. Registrate</h4>
                <p>Completá tus datos e ingresá a tu cuenta</p>
            </article>
            <article>
                <i class="fas fa-dolly-flatbed"></i>
                <h4> 2. Productos</h4>
                <p>Agregá a tu carrito todo lo que te gusta</p>
            </article>
            <article>
                <i class="fas fa-credit-card"></i>
                <h4> 3. Compra</h4>
                <p>Elegí la forma de pago que prefieras usar</p>
            </article>
            <article>
                <i class="fas fa-shipping-fast"></i>
                <h4>4. Envío</h4>
                <p>Seleccioná el envío que prefieras</p>
            </article>
            <article>
                <i class="fas fa-shopping-basket"></i>
                <h4> 5. Disfruta</h4>
                <p>Ya tienes tu equipo para disfrutarlo!</p>
            </article>
        </section>

        <h3><a href="/contactanos">¡Contactanos!</a></h3>

    </main>

    <%- include('./partials/footer')%>



</body>

</html>