<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactanos</title>
    <script src="https://kit.fontawesome.com/a36f27fccb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="contactanos">
    <header>
        <div class="listas">
            <div class="lista1">
                <nav>
                    <ul class="contactanos">
                        <li><a href="/contactanos"><i class="far fa-envelope"></i>Contactanos</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <nav>
                    <ul class="lista2">
                        <li><a href="/login"><i class="far fa-user"></i>Ingresar</a></li>
                        <li><a class="border" href="/register">Crear Cuenta</i></a></li>
                        <li><a href="/carrito"><i class="fas fa-shopping-cart"></i>Carrito de compras</a></li>
                        <li><a href="/envios"><i class="far fa-paper-plane"></i>Envios</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="contenedor">
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>

            <div class="logo">
                <a href="/"><img src="/images/logo-techcel-blanco.png" alt=""></a>
            </div>

            <div class="buscador">
                <input type="text" class="searc-button" placeholder="Buscar" href=""><i class="fas fa-search"></i>
            </div>
            <div class="iconos">
                <div>
                    <a href="/"><i class="fas fa-search"></i></a>
                </div>
                <div>
                    <a href="/login"><i class="far fa-user"></i></a>
                </div>
                <div>
                    <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
        <div>
            <nav class="titulo">

                <ul class="lista3">
                    <li> <a href="/"></i>Home </a></li>
                    <li><a href="/comocomprar">¿Como comprar? </i></a></li>
                    <li><a href="/productos"></i>Productos</i></a></li>
                    <li><a href="/about"></i>Acerca de nosotros </a></li>
                </ul>
            </nav>
        </div>

    </header>
    <main>
        <div>
            <h1>
                Contactanos
            </h1>
        </div>

        <div>

            <p>Para realizarnos una consulta o sugerencia, por favor, completá el formulario que se encuentra
                debajo...te responderemos a la brevedad.</p>

        </div>
        <div class="cont">
            <div class="datos">
                <form action="">

                    <label for="">Nombre</label>
                    <input type="text">
                    <label for="">Telefono</label>
                    <input type="tel" name="tel" id="tel">
                    <label for="">Correo</label>
                    <input type="email" name="correo" id="correo">
                    <label class="mens" for="">Mensaje</label>

                    <textarea class="text" name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                    <button type="submit">Enviar</button>
                </form>

            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.452187311563!2d-58.712117633620295!3d-34.54210466572569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd0d8bfe7981%3A0xad5dce52897dc62a!2sPaunero%201525%2C%20B1663%20GJI%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1629133035550!5m2!1ses-419!2sar"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="nuest-dat">
            <h3>Direccion</h3>
            <p>Paunero 1525, San Miguel, Buenos Aires , Argentina
            </p>
            <h3>Correo</h3>
            <p>info@techcel.com</p>
            <p>www.techcel.com.ar</p>
            <h3>Telefono</h3>
            <p>0800-333-1235</p>
        </div>
    </main>
    <footer>

        <div class="redes">
            <div>
                <p class="p-redes">Seguinos en nuestras redes sociales</p>

            </div>
            <div class="iconos-redes">

                <a href="/" class="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="/" class="twitter"><i class="fab fa-twitter-square"></i></a>
                <a href="/" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="/" class="Google"><i class="fab fa-google-plus-square"></i></a>
            </div>

        </div>
        <div class="contact1">

            <a href="/" class="icono-contacto"><i class="fas fa-map-marker-alt"></i>
                <p>Buenos Aires</p>
            </a>
            <a href="/" class="icono-contacto"><i class="fas fa-phone-square-alt"></i>
                <p>0800-333-1235</p>
            </a>
            <a href="/" class="icono-contacto"><i class="fas fa-envelope-square"></i>
                <p>info@techcel.com</p>
            </a>

        </div>


        <div class="logo">
            <a href="/"><img src="/images/logo-techcel-blanco.png" alt="logo"></a>

        </div>


        <div class="tarjetas">

            <a href=""><img src="/images/visa.png" alt=""></a>

            <a href=""><img class="master" src="/images/master.png" alt=""></a>
            <a href=""><img src="/images/american.png" alt=""></a>
            <a href=""><img src="/images/dinners.png" alt=""></a>

        </div>


        </section>

    </footer>

</body>


</html>