<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title : "INICIO"})%> 

<body class="home">
    <%- include('./partials/header')  %> 
    <main>
        <div class="banner-home">
            <img src="/images/banner_moto_edge_5g.jpg" alt="Moto EDGE 5G">
        </div>
        <div class="next-carousel">
            <a class="circle" href="/"><i class="fas fa-circle"></i></a>
            <a class="circle" href="/"><i class="fas fa-circle"></i></a>
            <a class="circle" href="/"><i class="fas fa-circle"></i></a>
            <a class="circle" href="/"><i class="fas fa-circle"></i></a>
        </div>
        <section class="seccion-main">
            <h2>NOVEDADES</h2>
            <div class="caja-completa">
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-left"></i></a>
                </div>
                <div class="productos">
                    <article class="primero">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                    <article class="segundo">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                    <article class="tercero">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                    <article class="cuarto">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                </div>
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </section>
        <section class="seccion-main">
            <h2>OFERTAS</h2>
            <div class="caja-completa">
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-left"></i></a>
                </div>
                <div class="productos">
                    <article class="primero">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                    <article class="segundo">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                    <article class="tercero">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                    <article class="cuarto">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                </div>
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </section>
        <section class="seccion-main">
            <h2>LOS MÁS COMPRADOS</h2>
            <div class="caja-completa">
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-left"></i></a>
                </div>
                <div class="productos">
                    <article class="primero">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                    <article class="segundo">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                    <article class="tercero">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                    <article class="cuarto">
                        <a href="/productos/detail">
                            <img src="/images/MOTOG8PLUS.jpg" alt="">
                            <p class="detalle">MOTO G8 PLUS</p>
                        </a>
                    </article>
                </div>
                <div class="caja-angle">
                    <a class="angle" href=""><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </section>
        <div>
            <a href="/productos"><button type="button">VER MÁS</button></a>
        </div>
    </main>
    <%- include('./partials/footer')%> 


</body>

</html>