<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head', {title: "CARRITO"})  %> 

<body class="cart">
    <%-include('../partials/header')%> 
    <main class="product-cart">
        <div class="container-productos mayusculas">
            <div class="titulo">
                <div class="titulo-carrito">
                    <h1>Mi carrito</h1>
                </div>
                <div class="carrito-icono">
                    <i class="fas fa-shopping-cart"></i>

                </div>
            </div>

            <div class="container-descripcion">
                <div class="imagen-carrito">
                   <a href="/productos/detail"> <img
                    src="https://mxmoto.vteximg.com.br/arquivos/ids/163450-700-700/MotoG8_Plus_AzulNocturno_Dual.png?v=637376940226370000"></a>
                </div>
                <div class="descripcion-carrito">
                    <div class="marca-precio">
                        <p>motorola - g8 - azul</p>
                        <p>$20.000</p>
                    </div>
                    <div class="cantidad">
                        <input type="checkbox" name="" id="">
                    </div>
                </div>

                <div class="tacho">
                    <a href="/carrito"><i class="fas fa-trash"></i></a>
                </div>
            </div>

            <div class="container-descripcion">
                <div class="imagen-carrito">
                    <a href="/productos/detail"> <img
                        src="https://mxmoto.vteximg.com.br/arquivos/ids/163450-700-700/MotoG8_Plus_AzulNocturno_Dual.png?v=637376940226370000"></a>
                </div>
                <div class="descripcion-carrito mayusculas">
                    <div class="marca-precio">
                        <p>motorola - g8 - azul</p>
                        <p>$20.000</p>
                    </div>
                    <div class="cantidad">
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
                <div class="tacho">
                    <a href="/carrito"><i class="fas fa-trash"></i></a>
                </div>
            </div>

            <div class="container-descripcion">
                <div class="imagen-carrito">
                    <a href="/productos/detail"> <img
                        src="https://mxmoto.vteximg.com.br/arquivos/ids/163450-700-700/MotoG8_Plus_AzulNocturno_Dual.png?v=637376940226370000"></a>
                </div>
                <div class="descripcion-carrito">
                    <div class="marca-precio">
                        <p>motorola - g8 - azul</p>
                        <p>$20.000</p>
                    </div>
                    <div class="cantidad">
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
                <div class="tacho">
                    <a href="/carrito"><i class="fas fa-trash"></i></a>
                </div>
            </div>


        </div>
        <div class="container-2">
            <div class="seguir-comprando">
                <a href="/productos"><button class="mayusculas point">Seguir comprando</button></a>
            </div>

            <div class="container-total mayusculas">
                <div class="cuentas">
                    <h3>Subtotal</h3>
                    <p>$72.000</p>
                </div>
                <div class="cuentas">
                    <h3>Costos del Envio</h3>
                    <p>$0</p>
                </div>
                <div class="cuentas">
                    <h3>Descuentos</h3>
                    <p>$0</p>
                </div>
                <div class="cuentas total-cuenta">
                    <h3>Total</h3>
                    <p>$72.000</p>
                    <!--Suma total-->
                </div>
            </div>
            <div class="descuento mayusculas point">
                <div class="descuento point">
                    <h2>Cupón de descuento</h2>
                </div>
                <div class="descuento-mas point">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="boton-comprar">
                <a href="/cart/shop"><button class="mayusculas point">Comprar</button></a>
            </div>
        </div>

    </main>

    <%-include('../partials/footer')%> 
</body>

</html>