<!DOCTYPE html>
<html lang="en">

    <%-include('../partials/head',{title:'FINALIZAR COMPRA'})%>

<body class="shop">
    <%-include('../partials/header')%> 
    <main class="shop">
        <div class="form-container">
            <div class="identificacion fondo-caja">
                <form action="/shop" method="GET">
                    <h2 class="titulos-form">Identificación</h2>
                    <div class="centrar"><input class="form-caja" type="email" name="" id="" placeholder="email@email.com"></div>
                    <div class="centrar"><input class="form-caja" type="text" placeholder="nombre"></div>
                    <div class="centrar"><input class="form-caja" type="text" placeholder="apellido"></div>
                    <div class="centrar"><input class="form-caja" type="text" placeholder="DNI"></div>
                    <div class="centrar"><input class="form-caja" type="text" name="" id="" placeholder="telefono"></div>
                    <div class="caja-botones">
                        <button class="boton-formularios"><a href="#siguiente-paso">Siguiente</a></button>
                    </div>
                </form>
            </div>

            <div class="envio fondo-caja" id="siguiente-paso">
                <form action="/shop" method="GET">
                    <h2 class="titulos-form">Envío</h2>
                    <div class="centrar"><input class="form-caja" type="text" name=""" placeholder="Código Postal">
                    </div>
                    <div class="centrar"><input class="form-caja" type="text" name="" id="" placeholder="Calle"></div>
                    <div class="centrar"><input class="form-caja" type="text" name="" id="" placeholder="Número"></div>
                    <div class="centrar"><input class="form-caja" type="text" name="" id="" placeholder="Piso"></div>
                </form>
                <form action="/shop" method="GET">
                    <div class="caja-botones">
                        <button class="boton-formularios"><a href="#siguiente-paso-2">Siguiente</a></button>
                    </div>
            </div>

            <div class="pago fondo-caja">
                <h2 class="titulos-form">Pago</h2>
                <div class="centrar">
                    <select name="tarjeta" id="tarjetas-2">
                        <option value="Crédito" id="siguiente-paso-2">Crédito</option>
                        <option value="Débito">Débito</option>
                    </select>
                </div>
                <div class="centrar"><input type="text" class="form-caja" placeholder="Número de la tarjeta"></div>
                <div class="centrar">
                    <select name="tarjetas" id="">
                        <option value="VISA">Visa</option>
                        <option value="American Express">American Express</option>
                        <option value="CABAL">Cabal</option>
                        <option value="Mastercard">Mastercard</option>
                    </select>
                </div>
                
                <div class="centrar">
                    <div><p>Titular de la tarjeta</p></div>
                    <input class="form-caja" type="text" placeholder="Nombre y apellido como figura en la tarjeta"></div>
                <div class="centrar">
                    <div class="titulos centrar"><p>Fecha vencimiento tarjeta</p></div>
                    <div class="tarjeta-fechas">
                        <p>Mes</p>
                        <select name="fecha-mes" id="">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <p>Año</p>
                        <select name="fecha-anio" id="">
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                </div>
                <div class="centrar">
                    <div class="titulos"><p>Código de Seguridad</p></div>
                    
                    <input class="form-caja" type="text" name="" id="" placeholder="Código de seguridad">
                </div>
                <div class="centrar">
                    <div class="titulos"><p>DNI titular tarjeta</p></div>
                    <input class="form-caja" type="text" placeholder="DNI del titular"></div>
                <div class="finalizar-compra caja-botones">
                    <button class="boton-formularios"><a href=""><a href="#f">Finalizar Compra</a></button>
                </div>
                </form>
            </div>



        </div>
    </main>
    <%-include('../partials/footer')%>
</body>

</html>